@import url('http://necolas.github.io/normalize.css/3.0.1/normalize.css');

/*==================
=======COLORS=======

Primary Color: Dark Blue, #008BB2, 0, 139, 178
Secondary Color: Light Blue, #80E3FF, 128, 227, 255
Compliment: Medium Blue, #00C6FF, 0, 198, 255

Sup: Dark Sand, #B25800, 178, 88, 0
Sup: Light Sand, #FFBF81, 255, 191, 129

==================*/
/*==================
=======HEADER=======
==================*/

html {
	background-color: #DCDCDC;
}

header {
    /*background: linear-gradient(to right, #55626B , black);*/
	background-color: #55626B;
	height: 100%;
	padding: 40px 10px 40px 10px;
	position: static;
}

.title {
	color: white;
	font-size: 3em;
	margin: 0;
	padding: 10px;
    color: #DCDCDC;
    display: block;
    font-family: "jaf-facitweb", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;


    /*-webkit-animation-name: slide;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 1.5s;*/
}



.link-nav {
	/*display: flex;*/
	font-size: 30px;
	list-style-type: none;
	text-align: center;
	/*margin: 90px 0 0 0;*/
	padding-bottom: 20px;
}

.link-nav li {
	
	/*border: solid #80E3F*/;
}

.link-nav a {
	float: right;
	text-decoration: none;
	color: #DCDCDC;
	/*margin: 15px 0px 15px 0px;*/
	padding: 0px 10px 0px 10px;

}


.link-nav a:hover {
	color: #008BB2;

}

/*==================
=========BODY=======
==================*/


.name {
	margin-left: 20px;
	padding: 3px;
	font-size: 36px;
}

.img {
	width: 60%;
	max-width: 600px;
	border-radius: 10px;
	margin: 0px 10px 0px 20px;
    float: left;

}

.bio a:hover {
    text-decoration: underline;
}

.bio {
	list-style: none;
    margin-bottom: 20px;
    font-size: 18px;
}

.bio li{
    padding: 10px;
    overflow: hidden;
}

.bio a {
    text-decoration: none;
    color: #008BB2;
};



/*==================
=========DROPDOWN MENU=======
==================*/

#body {
    padding: 0;
    margin: 0;
    font-family: "jaf-facitweb";
    font-size: 17px;
}
#nav {
    /*float: right;*/
}
#nav_wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
    text-align: right;
}
#nav ul li {
    display: inline-block;
    font-size: 22px;
}
#nav ul li:hover {
    background-color: #333;

}
#nav ul li a, visited {
    color: #CCC;
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: left;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    /*border: 5px solid #222;*/
    border-top: 0;
   /* margin-left: -5px;*/
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
}

/*==================
=========CONTACT=======
==================*/

.contact h2 {
    margin: 0px 20px 0px;
    border-top: solid #55626B 1px;
    padding-top: 20px;
    font-size: 30px;
}

.contact p {
    margin-left: 20px;
    padding-top: 10px;
    font-size: 18px
}

.contact p a {
    text-decoration: none;
    color: #008BB2;
}

.contact p a:hover {
    text-decoration: underline;
}

.twitter-timeline {
  
}

.back {
    border: solid #55626B;
    background: #55626B;
    margin: 40px 20px 20px;
    float: left;
    padding: 8px;
    width: 200px;
    font-size: 18px;    
}

.back a {
    text-decoration: none;
    color: white;

}




















