@import url('http://necolas.github.io/normalize.css/3.0.1/normalize.css');

/*==================
=======COLORS=======

Primary Color: Dark Blue, #008BB2, 0, 139, 178
Secondary Color: Light Blue, #80E3FF, 128, 227, 255
Compliment: Medium Blue, #00C6FF, 0, 198, 255

Sup: Dark Sand, #B25800, 178, 88, 0
Sup: Light Sand, #FFBF81, 255, 191, 129

==================*/
/*==================
=======HEADER=======
==================*/

html {
	background-color: #80E3FF;
}

header {
	background-color: #008BB2;
	height: 100%;
}


h1 {	
	font-family: lobster, cursive;
	color: white;
	font-size: 3em;
	display: block;
	margin: 0;
	padding: 20px;
	position: absolute;
	/*left: -70%;*/
}

.title {
	letter-spacing: 5px;
    color: #fff;
}

.link-nav {
	font-size: 30px;
	list-style-type: none;
	display: inline-block;
	text-align: right;
	margin: 90px 0 0 0;
	padding-bottom: 20px;
}

.link-nav li {
	display: inline-block;
	margin-right: 30px;
}

.link-nav a {
	text-decoration: none;
	color: #FFBF81;
}

.link-nav a:hover {
	color: #B25800;
}

/*==================
=========BODY=======
==================*/

.bio {
	margin-left: 20px;
	padding: 3px;
	font-size: 36px;
}

.img {
	width: 60%;
	max-width: 700px;
	border-radius: 10px;
	margin: 0px auto 0px 20px;
}

.bio li {
	float: left;
	list-style: none;
	display: flex;
}