@import url('http://necolas.github.io/normalize.css/3.0.1/normalize.css');

/*==================
=======COLORS=======

Primary Color: Dark Blue, #008BB2, 0, 139, 178
Secondary Color: Light Blue, #80E3FF, 128, 227, 255
Compliment: Medium Blue, #00C6FF, 0, 198, 255

Sup: Dark Sand, #B25800, 178, 88, 0
Sup: Light Sand, #FFBF81, 255, 191, 129

/*==================
=======HEADER=======
==================*/

html {
    background-color: #DCDCDC;
}

header {
    background: linear-gradient(to right, #55626B, black);
    height: 100%;
    padding: 40px 10px 40px 10px;
}

.title {
    color: white;
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 5px;
    color: #DCDCDC;
    display: block;
    font-family:'Open Sans';
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 20px;
}

/*==================
=========BODY=======
==================*/

.questions,.description {
    float: left;
    display: inline-block;
    /*margin-right: 80px;*/
    margin-left: 20px;

}

.questions a, .description a {
    text-decoration: none;
    color: #008BB2;
}

body {
    font-family: 'Open Sans';
}
 
.name {
	padding: 3px;
	font-size: 36px;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-left: 20px;
    padding: 3px;
    font-size: 36px;
    text-transform: uppercase;
}



.img {
	width: 60%;
	max-width: 300px;
	border-radius: 10px;
	margin: 0px 10px 0px 20px;
    float: left;
    clear: both;
}

.bio {
	list-style: none;
    margin-bottom: 20px;
    font-size: 18px;
    width: 60%;
    float: right;
}

.bio a {
    text-decoration: none;
    color: #008BB2;
};



/*==================
=========BODY=======
==================*/


.sub_header {
    margin: 0 auto 0 auto;
}


img {
    max-width: 50%;
    border-radius: 10px;
    margin: 0px 0px 0px 20px;
    float: left;
}

.about {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.description {
    float: left;
}

.questions, .description {
    width: 324px;
}

.questions p {
    text-decoration: underline;
    text-transform: uppercase;
}

.bio p {
    margin-left: 20px;
    margin-right: 20px;
}

.job a {
    text-decoration: none;
    color: #008BB2;
}

a:hover {
    color: #55626b;
    transition: .25s;
}




/*==================
=========CONTACT=======
==================*/

.back {
    color: #CCC;
    border: solid transparent;
    background-color: #55626B;
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.back a:hover {
    color: red;
}

.contact {
    clear: both;
    margin-left: 20px;
}

.contact p a {
    text-decoration: none;
    color: #008BB2;
}

.contact p a:hover {
    color: #55626b;
    transition: .25s;
}



/*==================
=========FOOTER=======
==================*/

footer {
    background-color: #55626B;
    height: 100%;
    padding: 40px 10px 40px 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 40px;
    color: #DCDCDC;
}

















