@import url('http://necolas.github.io/normalize.css/3.0.1/normalize.css');

/*==================
=======COLORS=======

Primary Color: Dark Blue, #55626B, 0, 139, 178
Secondary Color: Light Blue, #80E3FF, 128, 227, 255
Compliment: Medium Blue, #00C6FF, 0, 198, 255

Sup: Dark Sand, #B25800, 178, 88, 0
Sup: Light Sand, #FFBF81, 255, 191, 129

==================*/

/*==================
=======HEADER=======
==================*/

html {
	background-color: #DCDCDC;
}

header {
    background: linear-gradient(to right, #55626B, black);
	height: 100%;
	padding: 40px 10px 40px 10px;
}

.title {
	color: white;
	text-align: center;
	font-size: 3em;
	margin: 0;
	padding: 5px;
    color: #DCDCDC;
    display: block;
    font-family:'Open Sans';
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 20px;
}


/*==================
=========OVERLAY CONTENT=======
==================*/

.simple_overlay {
	height: 400px;
	width: 800px;
	color: white;
}

.simple_overlay img {
	width: 400px;
	height: 400px;
}

.simple_overlay a {
	color: #7ECAFF;
	text-decoration: none;
}

.details a:hover {
	color: #55626b;
	transition: .25s;
}

.details {
	font-family: 'Open Sans'
}

.details h1, h4{
	text-transform: uppercase;
}

.hannah {
	font-size: 29px;
}

 .bail, .jess, .han, .emily {
	font-size: 13px;
}

.mel, .jenny,  .joy, .amy,  .gar {
	font-size: 14px;
}

.tory, .mar, .chloe, .aaron, .steve, .alex, .jim{
	font-size: 15px;
}

/*==================
=========BODY=======
==================*/

.section {
	font-family: 'Open Sans';
	text-transform: uppercase;
}

.current {
	color: #55626B;
	padding-left: 30px;
}

.main-wrapper img {
	width: 250px;
}

#interns {
	text-align: center;
	margin: 20px auto 0 auto;
}

#interns li {
	list-style-type: none;
	display: inline-block;
	background-color: rgba(85, 98, 107, .7);
	max-width: 350px;
	margin-right: 35px;
	font-family:'Open Sans';
	margin-bottom: 20px;
	text-align: center;
}

.main-wrapper p {
	display: block;
	color: #DCDCDC;
	width: 250px;
}

/*==================
=========FOOTER=======
==================*/

footer {
	background: linear-gradient(to right, #55626B, black);
	height: 100%;
	padding: 40px 10px 40px 10px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	color: #DCDCDC;
}

/*==================
=========MEDIA QUERIES=======
==================*/

@media (max-width: 520px) {
	header {
		font-size: 13px;
		text-align: center;
	}
	.section {
		text-align: center;
	}
	.main-wrapper img {
		width: 174px;
	}

	.simple_overlay h1 {
		font-size: 18px;
	}

	.simple_overlay h1 a {
		color: #7ECAFF; 
	}

	.simple_overlay h1 a:hover {
	    color: #7ECAFF;
	    color: #55626b;
	    transition: .5s;
	}

	.main-wrapper p {
		width: 174px;
		font-size: 12px;
	}
	.simple_overlay {
		height: 900px;
		width: 350px;
		color: white;
	}
	.details {
		margin-top: 280px;
		width: 325px;
		height:;
	}

	.simple_overlay img {
		height: 300px;
		width: 350px;
	}
}

@media (min-width: 520px) and (max-width:900px) {
	.section {
		text-align: center;
	}
	/*.main-wrapper img {
		width: 174px;
	}*/

	.simple_overlay h1 {
		font-size: 18px;
	}

	.simple_overlay h1 a {
		color: #7ECAFF; 
	}

	.simple_overlay h1 a:hover {
	    color: #7ECAFF;
	    color: #55626b;
	    transition: .5s;
	}

	
	.simple_overlay {
		height: 600px;
		width: 600px;
		color: white;
	}
	.details {
		width: 325px;
		height:;
	}

	.simple_overlay img {
		height: 300px;
		width: 300px;
	}
}
