@import url('http://necolas.github.io/normalize.css/3.0.1/normalize.css');

/*==================
=======COLORS=======

Primary Color: Dark Blue, #008BB2, 0, 139, 178
Secondary Color: Light Blue, #80E3FF, 128, 227, 255
Compliment: Medium Blue, #00C6FF, 0, 198, 255

Sup: Dark Sand, #B25800, 178, 88, 0
Sup: Light Sand, #FFBF81, 255, 191, 129

==================*/


/*==================
=======HEADER=======
==================*/

html {
	background-color: #DCDCDC;
}

header {
	background-color: #55626B;
	height: 100%;
	padding: 40px 10px 40px 10px;
	position: static;
}

.title {
	/*font-family: Georgia;*/
	color: white;
	font-size: 3em;
	margin: 0;
	padding: 20px;
    color: #DCDCDC;
    display: block;
<<<<<<< HEAD
    font-family: "jaf-facitweb", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
=======
    position: absolute;
>>>>>>> FETCH_HEAD

    /*-webkit-animation-name: slide;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 1.5s;*/
}

/*Keyframes*/

/*@-webkit-keyframes slide{
	0%     { left:-70%; } 
	100%   { left:  0px; }
}*/

.link-nav {
	/*display: flex;*/
	font-size: 30px;
	list-style-type: none;
	text-align: center;
	/*margin: 90px 0 0 0;*/
	padding-bottom: 20px;
}

.link-nav li {
	
	/*border: solid #80E3F*/;
}

.link-nav a {
	float: right;
	text-decoration: none;
	color: #DCDCDC;
	/*margin: 15px 0px 15px 0px;*/
	padding: 0px 10px 0px 10px;

}

.link-nav a:hover {
	color: #008BB2;

}

/*==================
=========BODY=======
==================*/

.current, #past {
	color: #55626B;
	padding-left: 30px;
}

#interns, .interns {
	text-align: center;
	margin: 20px auto 0 auto;
}

#interns li {
	list-style-type: none;
	display: inline-block;
	/*background-color: rgb(255, 191, 129);*/
	max-width: 350px;
	margin-right: 35px;
	margin-bottom: 20px;
}

/*.interns li:hover {
	border: solid black;
	transition: .2s;
}*/

img {
	width: 100%;
}

.name {
	font-weight: bold;
	font-size: 22px;
	background: rgba(255, 191, 129, .2);
	margin: 0;
	padding: 5px;
	/*font-family: Georgia;*/
}

p {
	display: block;
	text-align: center;
	padding: 5px;
	color: /*#DCDCDC*/;

}

/*==================
=========FOOTER=======
==================*/

footer {
	background-color: #55626B;
	height: 100%;
	padding: 40px 10px 40px 10px;
	color: white;
	text-align: center;
	text-transform: capitalize;
	font-size: 20px;
}