@import url('http://necolas.github.io/normalize.css/3.0.1/normalize.css');

/*==================
=======COLORS=======

Primary Color: Dark Blue, #008BB2, 0, 139, 178
Secondary Color: Light Blue, #80E3FF, 128, 227, 255
Compliment: Medium Blue, #00C6FF, 0, 198, 255

Sup: Dark Sand, #B25800, 178, 88, 0
Sup: Light Sand, #FFBF81, 255, 191, 129

==================*/
/*==================
=======HEADER=======
==================*/

html {
	background-color: #91AA9D;
}

header {
	background-color: #193441;
	height: 100%;
}

.title {
	font-family: georgia, cursive;
	color: white;
	font-size: 3em;
	display: flex;
	margin: 0;
	padding: 20px;
	/*position: absolute;*/
	letter-spacing: 5px;
    color: #fff;
    display: inline;


    /*-webkit-animation-name: slide;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 1.5s;*/
}

/*Keyframes*/

/*@-webkit-keyframes slide{
	0%     { left:-70%; } 
	100%   { left:  0px; }
}*/

.link-nav {
	font-size: 30px;
	list-style-type: none;
	display: inline;
	text-align: right;
	margin: 90px 0 0 0;
	padding-bottom: 20px;
}

.link-nav li {
	display: inline-block;
	margin: 10px 30px 0px auto;
	float: right;
	/*border: solid #80E3F*/;
}

.link-nav a {
	text-decoration: none;
	color: #FFBF81;
}

.link-nav a:hover {
	color: #B25800;
}

/*==================
=========BODY=======
==================*/

.interns {
	text-align: center;
	margin: 20px auto 0 auto;
}

.interns li {
	list-style-type: none;
	display: inline-block;
	/*background-color: rgb(255, 191, 129);*/
	max-width: 350px;
	margin-right: 35px;
	margin-bottom: 20px;
}

.interns li:hover {
	border: solid black;
	transition: .2s;
}

img {
	width: 100%;
}

/*.name {
	font-weight: bold;
	font-size: 22px;
	font-style: italic;
	background: rgba(255, 191, 129, .2);
	margin: 0;
	padding: 5px;
}*/

p {
	display: block;
	text-align: center;
	color: white;
	margin: 0;
	padding: 5px;
}

@media (max-width: 533px) {
	.title {
		font-size: 20px;
	}
}