@import url('http://necolas.github.io/normalize.css/3.0.1/normalize.css');


/*==================
=======HEADER=======
==================*/
header {
	background-image: url('saddleback.jpg');
}

h1 {
	
	text-align: center;
	font-family: lobster, cursive;
	color: white;
	margin-top: 0;
	font-size: 48px;
	padding: 20px;
	background-color: rgba(125, 125, 125, .7);
}

.title {
	letter-spacing: 13px;
}

.link-nav {
	background-color: #819aa9;
	font-size: 36px;
	text-align: center;
	margin-top: -35px;
}

.link-nav a {
	text-decoration: none;
	color: black;
}

.link-nav a:hover {
	color: white;
}


/*==================
=========BODY=======
==================*/

body {
	background-image: url('saddleback large.jpg') disabled;
	background-repeat: no-repeat; 
	background-size: 100%;
	background-color: #BADAFF;
}

li {
	list-style-type: none;
	display: inline-block;
	margin: 20px;
}

img {
	
	max-height: 300px;
	max-width: 100%;
}

.name {
	font-weight: bold;
	font-size: 22px;
}

p {
	display: block;
	text-align: center;
}